div{
  width: 400px;
  height: 200px;
  border: 20px groove red;
  border-radius: 50px;
  background-color: yellow;
  background-image: url(../000_img/surf.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
}
