div{
  width: 100px;
  height: 100px;
  border: 1px solid red;
}

img{
  border: 10px groove red; ;
}

.dogone{
  border: 10px dashed red; ;
}

.dogtwo{
  border: 10px dotted red; ;
}

.dogthree{
  border: 10px double red; ;
}
